USE [atum2_db_1]
GO
/****** Object:  StoredProcedure [dbo].[atum_DeleteAllCharacterItems]    Script Date: 2016-12-28 13:53:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--!!!!
-- Name:
-- Desc:
--			2007-01-19, #define ITEM_IN_CHARACTER				0	// Ä³¸¯ÅÍÀÎº¥
--						#define ITEM_IN_STORE					1	// Ã¢°í
--						#define ITEM_IN_GUILD_STORE             2   // 2006-09-14 by dhjin, ¿©´Ü Ã¢°í 
--====
ALTER PROCEDURE [dbo].[atum_DeleteAllCharacterItems]
	@i_AccountUID INT,
	@i_CharacterUID INT
AS
	IF (@i_CharacterUID = 0)
		RETURN

	-- 1. Ä³¸¯ÅÍ ¼ÒÀ¯ ¾ÆÀÌÅÛÀÇ ÀÎÃ¦Æ® Á¦°Å	
	DELETE td_Enchant FROM td_Enchant e, td_Store s 
		WHERE s.AccountUniqueNumber = @i_AccountUID AND s.ItemStorage <> 2 AND s.Possess = @i_CharacterUID AND s.UniqueNumber = e.TargetItemUniqueNumber
	
	-- 2. Ä³¸¯ÅÍ ¼ÒÀ¯ ¾ÆÀÌÅÛ Á¦°Å
	DELETE FROM td_Store WHERE AccountUniqueNumber = @i_AccountUID AND ItemStorage <> 2 AND possess = @i_CharacterUID
	
	-- 3. Ä³¸¯ÅÍ Äü ½½·Ô Á¦°Å
	DELETE FROM td_QuickSlot WHERE AccountUID = @i_AccountUID AND CharacterUID = @i_CharacterUID
	
	-- 4. Ä³¸¯ÅÍ ¼ÒÀ¯ ½ºÅ³ Á¦°Å
	DELETE FROM td_StoreSkill WHERE AccountUniqueNumber = @i_AccountUID AND possess = @i_CharacterUID
	
	--delete bonus by inetpub
	DELETE td_Bonus FROM td_Bonus b, td_Store s 
		WHERE s.AccountUniqueNumber = @i_AccountUID AND s.ItemStorage <> 2 AND s.Possess = @i_CharacterUID AND s.UniqueNumber = b.TargetItemUniqueNumber
	
