USE [atum2_db_1]
GO
/****** Object:  StoredProcedure [dbo].[atum_DeleteStoreItem]    Script Date: 2016-12-28 13:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--!!!!
-- Name:
-- Desc:
--====
ALTER PROCEDURE [dbo].[atum_DeleteStoreItem]
	@accNum	INT,
	@uniqueNum BIGINT
AS
	DELETE FROM td_Enchant
		WHERE TargetItemUniqueNumber = @uniqueNum

	DELETE FROM td_Store
		WHERE AccountUniqueNumber = @accNum AND UniqueNumber = @uniqueNum;

		--by inet from bonus stat
	DELETE FROM td_Bonus
		WHERE TargetItemUniqueNumber = @uniqueNum
