### CAUTION: Refer to "global.cfg"! ###

	LocalIPAddress				$LOCAL_IP_ADDR
	LocalPublicIPAddress		$LOCAL_PUBLIC_IP_ADDR
	LocalListenPort				$FIELD_SERVER_PORT
	LanguageType				$LANGUAGE_TYPE

################################################################################
# Database Settings
# // 2008-07-11 by cmkwon, MySQL 지원을 위해 수정(IP,Port 로 DB 서버 연결) - 아래 정보 추가
################################################################################
	# // 2008-07-11 by cmkwon, MySQL 지원을 위해 수정(IP,Port 로 DB 서버 연결) - 
	#ODBCDSN							$SERVER_GROUP_ODBC_DSN
	ODBCUID							$SERVER_GROUP_ODBC_UID
	ODBCPASSWD						$SERVER_GROUP_ODBC_PASSWD
	DBServerIP						$SERVER_GROUP_DB_SERVER_IP			
	DBServerPort					$SERVER_GROUP_DB_SERVER_PORT         
	DBServerDatabaseName			$SERVER_GROUP_DB_SERVER_DATABASE_NAME

	# // 2008-07-11 by cmkwon, MySQL 지원을 위해 수정(IP,Port 로 DB 서버 연결) - 
	#LOGDB_ODBCDSN					$LOG_SERVER_GROUP_ODBC_DSN			# // 2007-12-03 by cmkwon, 게임 로그 DB 따로 구축 하기 버그 수정 - 
	LOGDB_ODBCUID					$LOG_SERVER_GROUP_ODBC_UID			# // 2007-12-03 by cmkwon, 게임 로그 DB 따로 구축 하기 버그 수정 - 
	LOGDB_ODBCPASSWD				$LOG_SERVER_GROUP_ODBC_PASSWD		# // 2007-12-03 by cmkwon, 게임 로그 DB 따로 구축 하기 버그 수정 - 
	LOGDB_DBServerIP				$LOG_SERVER_GROUP_DB_SERVER_IP				
	LOGDB_DBServerPort				$LOG_SERVER_GROUP_DB_SERVER_PORT			
	LOGDB_DBServerDatabaseName		$LOG_SERVER_GROUP_DB_SERVER_DATABASE_NAME

################################################################################
# Field Server Configuration
################################################################################
	FieldServerGroupName		$SERVER_GROUP_NAME	
	PreServer					$PRE_SERVER_IP			$PRE_SERVER_PORT
	LogServer					$LOG_SERVER_IP			$LOG_SERVER_PORT
	IMServer					$IM_SERVER_IP			$IM_SERVER_PORT
	VoIP1to1Server				$VOIP_1to1_SERVER_IP	$VOIP_1to1_SERVER_PORT
	VoIPNtoNServer				$VOIP_NtoN_SERVER_IP	$VOIP_NtoN_SERVER_PORT
	CheckLogServer				$CHECK_LOG_SERVER

################################################################################
# 테스트 서버 여부
################################################################################
	IsTestServer				$IS_TEST_SERVER
	MainORTestServerName		$MAIN_OR_TEST_SERVER_NAME
	GamePublisher				$GAME_PUBLISHER

################################################################################
# Jamboree Server Flag, 2007-04-09 by cmkwon
################################################################################
	IsJamboreeServer			$IS_JAMBOREE_SERVER

################################################################################
# 2007-01-10 by cmkwon
# Cash Shop Service Flag(유료화 상점 서비스 플래그)
################################################################################
	CashShopServiceFlag			$CASH_SHOP_SERVICE_FLAG

################################################################################
# 2007-09-12 by cmkwon
# Use SecondaryPassword System Flag(2차패스워드 시스템 사용 플래그)
################################################################################
	UseSecondaryPasswrodSystemFlag	$USE_SECONDARYPASSWORD_SYSTEM_FLAG

	
################################################################################
# ServerGroupName
################################################################################
	ServerGroupName				$SERVER_GROUP_NAME

################################################################################
# Server Group List in order to management in PreServer
# // 2008-09-24 by cmkwon, global.cfg 형식 수정 - 
#		Syntax						= [ServerGroupName]			[ServerGroupID]		[Enable Flag]
################################################################################
	ServerGroupInfo				$$SERVER_GROUP_INFO_1
	ServerGroupInfo				$$SERVER_GROUP_INFO_2	
	ServerGroupInfo				$$SERVER_GROUP_INFO_3	
	ServerGroupInfo				$$SERVER_GROUP_INFO_4	
	ServerGroupInfo				$$SERVER_GROUP_INFO_5	
	ServerGroupInfo				$$SERVER_GROUP_INFO_6	
	ServerGroupInfo				$$SERVER_GROUP_INFO_7	
	ServerGroupInfo				$$SERVER_GROUP_INFO_8	
	ServerGroupInfo				$$SERVER_GROUP_INFO_9	
	ServerGroupInfo				$$SERVER_GROUP_INFO_10
	ServerGroupInfo				$$SERVER_GROUP_INFO_11
	ServerGroupInfo				$$SERVER_GROUP_INFO_12
	ServerGroupInfo				$$SERVER_GROUP_INFO_13
	ServerGroupInfo				$$SERVER_GROUP_INFO_14
	ServerGroupInfo				$$SERVER_GROUP_INFO_15
	ServerGroupInfo				$$SERVER_GROUP_INFO_16
	ServerGroupInfo				$$SERVER_GROUP_INFO_17
	ServerGroupInfo				$$SERVER_GROUP_INFO_18
	ServerGroupInfo				$$SERVER_GROUP_INFO_19
	ServerGroupInfo				$$SERVER_GROUP_INFO_20
# // 2008-09-24 by cmkwon, global.cfg 형식 수정 - 위와 같이 수정됨
#	ServerGroup					$SERVER_GROUP_NAME_1		TRUE		$MGAME_SERVER_ID_1
#	ServerGroup					$SERVER_GROUP_NAME_2		TRUE		$MGAME_SERVER_ID_2
#	ServerGroup					$SERVER_GROUP_NAME_3		TRUE		$MGAME_SERVER_ID_3
#	ServerGroup					$SERVER_GROUP_NAME_4		TRUE		$MGAME_SERVER_ID_4
#	ServerGroup					$SERVER_GROUP_NAME_5		TRUE		$MGAME_SERVER_ID_5
#	ServerGroup					$SERVER_GROUP_NAME_6		FALSE		$MGAME_SERVER_ID_6
#	ServerGroup					$SERVER_GROUP_NAME_7		FALSE		$MGAME_SERVER_ID_7
#	ServerGroup					$SERVER_GROUP_NAME_8		FALSE		$MGAME_SERVER_ID_8
#	ServerGroup					$SERVER_GROUP_NAME_9		FALSE		$MGAME_SERVER_ID_9
#	ServerGroup					$SERVER_GROUP_NAME_10		FALSE		$MGAME_SERVER_ID_10
#	ServerGroup					$SERVER_GROUP_NAME_11		FALSE		$MGAME_SERVER_ID_11
#	ServerGroup					$SERVER_GROUP_NAME_12		FALSE		$MGAME_SERVER_ID_12
#	ServerGroup					$SERVER_GROUP_NAME_13		FALSE		$MGAME_SERVER_ID_13
#	ServerGroup					$SERVER_GROUP_NAME_14		FALSE		$MGAME_SERVER_ID_14
#	ServerGroup					$SERVER_GROUP_NAME_15		FALSE		$MGAME_SERVER_ID_15
#	ServerGroup					$SERVER_GROUP_NAME_16		FALSE		$MGAME_SERVER_ID_16
#	ServerGroup					$SERVER_GROUP_NAME_17		FALSE		$MGAME_SERVER_ID_17
#	ServerGroup					$SERVER_GROUP_NAME_18		FALSE		$MGAME_SERVER_ID_18
#	ServerGroup					$SERVER_GROUP_NAME_19		FALSE		$MGAME_SERVER_ID_19
#	ServerGroup					$SERVER_GROUP_NAME_20		FALSE		$MGAME_SERVER_ID_20

################################################################################
# 2007-12-21 by dhjin
# 아레나 통합 - ArenaServer (아레나 서버 관련 설정)
################################################################################
	ArenaServerFlag				$ARENA_SERVER_FLAG	$ARENA_SERVER_NAME	$ARENA_SERVER_ID	$ARENA_FIELD_SERVER		$ARENA_FIELD_SERVER_PORT	$ARENA_IM_SERVER	$ARENA_IM_SERVER_PORT


################################################################################
# // 2008-06-05 by cmkwon, AdminTool, Monitor 접근 가능 IP를 server config file 에 설정하기 - 
# Allowed Tools(AdminTool or Monitor) IP 
################################################################################
	AllowedToolIP				$ALLOWED_TOOL_IP_1
	AllowedToolIP				$ALLOWED_TOOL_IP_2
	AllowedToolIP				$ALLOWED_TOOL_IP_3
	AllowedToolIP				$ALLOWED_TOOL_IP_4
	AllowedToolIP				$ALLOWED_TOOL_IP_5
	AllowedToolIP				$ALLOWED_TOOL_IP_6
	AllowedToolIP				$ALLOWED_TOOL_IP_7
	AllowedToolIP				$ALLOWED_TOOL_IP_8
	AllowedToolIP				$ALLOWED_TOOL_IP_9
	AllowedToolIP				$ALLOWED_TOOL_IP_10
	
	
################################################################################
# // 2008-07-30 by cmkwon, Yedang_Kor 빌링 DBServer 직접 연결하도록 수정 - 
# 
################################################################################	
	BillingDBServerIP				$BILLING_DB_SERVER_IP
	BillingDBServerPort				$BILLING_DB_SERVER_PORT
	BillingDBServerDatabaseName		$BILLING_DB_SERVER_DATABASENAME
	BillingDBServerUserID			$BILLING_DB_SERVER_USER_ID
	BillingDBServerPassword			$BILLING_DB_SERVER_PASSWORD


################################################################################
# // 2009-06-03 by cmkwon, 세력 선택시 제한 시스템 사용 여부 플래그 추가 - field.cfg에 추가
# 
################################################################################
	UseInflSelectionRestrictSystem	$USE_INFL_SELECTION_RESTRICT_SYSTEM

