################################################################################
#	Authentication Server
################################################################################
	$AUTHENTICATION_IP_ADDR				127.0.0.1
	$AUTHENTICATION_PUBLIC_IP_ADDR			127.0.0.1
	$AUTHENTICATION_SERVER_PORT			14999

################################################################################
# Database Settings #1
################################################################################
	$AUTH_DB_DATABASE_NAME				atum2_db_account
	$AUTH_DB_SERVER_IP					127.0.0.1
	$AUTH_DB_SERVER_PORT					1433
	$AUTH_ODBC_UID						21474103
	$AUTH_ODBC_PASSWD					2352580204405E