#############################################################
#  WP PER KILL SETTINGS                                     #
#############################################################

#define X wp (depends from setting see others)
WarpointPerKill = 30

# 0-normal : gives x WP per hour where X= WarpointPerKill - its old system
# 1-dynamic : gives WP by killed person level (level/2 + WarpointPerKill) - its my system
WPPerKillMode = 1 

#WPPerKill multipler : WPPerKill * multipler = final wp - its like happy hour for wp
WPPerKillMultipler = 1.0

#############################################################
#  CREDITS PER HOUR SETTINGS                                #
#############################################################
CreditPerHour = 50
CreditPerHourMultipler = 1.0 #multipler * CreditPerHour = get final credits