### CAUTION: Refer to "global.cfg"! ###

	LocalIPAddress					$LOCAL_IP_ADDR
	LocalPublicIPAddress			$LOCAL_PUBLIC_IP_ADDR
	LocalListenPort					$LOG_SERVER_PORT
	LanguageType					$LANGUAGE_TYPE

################################################################################
# Database Settings
# // 2007-11-07 by cmkwon, 로그 DB 서버 따로 구축하기 - 수정 함(<--$SERVER_GROUP_ODBC_XXX)
################################################################################
	#ODBCDSN						$LOG_SERVER_GROUP_ODBC_DSN
	ODBCUID						$LOG_SERVER_GROUP_ODBC_UID
	ODBCPASSWD					$LOG_SERVER_GROUP_ODBC_PASSWD
	DBServerDatabaseName		$LOG_SERVER_GROUP_DB_SERVER_DATABASE_NAME
	DBServerIP					$LOG_SERVER_GROUP_DB_SERVER_IP
	DBServerPort				$LOG_SERVER_GROUP_DB_SERVER_PORT
	
################################################################################
# ServerGroupName
################################################################################
	ServerGroupName					$SERVER_GROUP_NAME

################################################################################
# ServerGroup List
################################################################################	
	ServerGroupInfo					$$SERVER_GROUP_INFO1
	ServerGroupInfo					$$SERVER_GROUP_INFO2
	ServerGroupInfo					$$SERVER_GROUP_INFO3
	ServerGroupInfo					$$SERVER_GROUP_INFO4
	ServerGroupInfo					$$SERVER_GROUP_INFO5

################################################################################
# BIN <> BIN Filter CFG by Inetpub
################################################################################
	AllowedToolIP				$ALLOWED_TOOL_IP_1
	AllowedToolIP				$ALLOWED_TOOL_IP_2
	AllowedToolIP				$ALLOWED_TOOL_IP_3
	AllowedToolIP				$ALLOWED_TOOL_IP_4
	AllowedToolIP				$ALLOWED_TOOL_IP_5
	AllowedToolIP				$ALLOWED_TOOL_IP_6
	AllowedToolIP				$ALLOWED_TOOL_IP_7
	AllowedToolIP				$ALLOWED_TOOL_IP_8
	AllowedToolIP				$ALLOWED_TOOL_IP_9
	AllowedToolIP				$ALLOWED_TOOL_IP_10