### CAUTION: Refer to "global.cfg"! ###

	LocalIPAddress				$LOCAL_IP_ADDR
	LocalPublicIPAddress		$LOCAL_PUBLIC_IP_ADDR
	LocalListenPort				$NPC_SERVER_PORT
	LanguageType				$LANGUAGE_TYPE


################################################################################
# Database Settings
# // 2008-07-11 by cmkwon, MySQL 지원을 위해 수정(IP,Port 로 DB 서버 연결) - 아래 정보 추가
################################################################################
	# // 2008-07-11 by cmkwon, MySQL 지원을 위해 수정(IP,Port 로 DB 서버 연결) - 
	#ODBCDSN						$SERVER_GROUP_ODBC_DSN
	ODBCUID						$SERVER_GROUP_ODBC_UID
	ODBCPASSWD					$SERVER_GROUP_ODBC_PASSWD
	DBServerIP					$SERVER_GROUP_DB_SERVER_IP			
	DBServerPort				$SERVER_GROUP_DB_SERVER_PORT         
	DBServerDatabaseName		$SERVER_GROUP_DB_SERVER_DATABASE_NAME


################################################################################
# NPC Server Configurations
################################################################################
	FieldServer					$FIELD_SERVER_IP	$FIELD_SERVER_PORT


################################################################################
# Integrated Arena Server Informaion
#	// 2008-09-10 by cmkwon, 통합아레나 맵설정(map.cfg) 관련 수정 - 
################################################################################
	ArenaServerFlag				$ARENA_SERVER_FLAG


################################################################################
# // 2008-06-05 by cmkwon, AdminTool, Monitor 접근 가능 IP를 server config file 에 설정하기 - 
# Allowed Tools(AdminTool or Monitor) IP and BIN<>BIN filter by INETPUB
################################################################################
	AllowedToolIP				$ALLOWED_TOOL_IP_1
	AllowedToolIP				$ALLOWED_TOOL_IP_2
	AllowedToolIP				$ALLOWED_TOOL_IP_3
	AllowedToolIP				$ALLOWED_TOOL_IP_4
	AllowedToolIP				$ALLOWED_TOOL_IP_5
	AllowedToolIP				$ALLOWED_TOOL_IP_6
	AllowedToolIP				$ALLOWED_TOOL_IP_7
	AllowedToolIP				$ALLOWED_TOOL_IP_8
	AllowedToolIP				$ALLOWED_TOOL_IP_9
	AllowedToolIP				$ALLOWED_TOOL_IP_10
	
	