###############################################################################################
# Normal IP format		==> 11.111.111.1
# Range (from to) IP format	==> 11.111.111.1~22
###############################################################################################
127.0.0.1~145			# local
127.0.0.146~255			# local test
