###############################################################################
# CAUTION: Refer to "global.cfg"!
###############################################################################
	LocalIPAddress				$LOCAL_IP_ADDR
	LocalPublicIPAddress		$LOCAL_PUBLIC_IP_ADDR
	LocalListenPort				$PRE_SERVER_PORT
	LanguageType				$LANGUAGE_TYPE

################################################################################
# Pre Server Database Settings
################################################################################
	ODBCDSN						$PRE_ODBC_DSN
	ODBCUID						$PRE_ODBC_UID
	ODBCPASSWD					$PRE_ODBC_PASSWD
	DBServerDatabaseName		$PRE_DB_SERVER_DATABASE_NAME
	DBServerIP					$PRE_DB_SERVER_IP
	DBServerPort				$PRE_DB_SERVER_PORT
	ExtAuthODBCDSN				$EXT_AUTH_ODBC_DSN
	ExtAuthODBCUID				$EXT_AUTH_ODBC_UID
	ExtAuthODBCPASSWD			$EXT_AUTH_ODBC_PASSWD
	ExtAuthDBServerDatabaseName	$EXT_AUTH_DB_SERVER_DATABASE_NAME
	ExtAuthDBServerIP			$EXT_AUTH_DB_SERVER_IP
	ExtAuthDBServerPort			$EXT_AUTH_DB_SERVER_PORT

################################################################################
# Allowed Tool IP
################################################################################
	AllowedToolIP				$ALLOWED_TOOL_IP_1
	AllowedToolIP				$ALLOWED_TOOL_IP_2
	AllowedToolIP				$ALLOWED_TOOL_IP_3
	AllowedToolIP				$ALLOWED_TOOL_IP_4
	AllowedToolIP				$ALLOWED_TOOL_IP_5
	AllowedToolIP				$ALLOWED_TOOL_IP_6
	AllowedToolIP				$ALLOWED_TOOL_IP_7
	AllowedToolIP				$ALLOWED_TOOL_IP_8
	AllowedToolIP				$ALLOWED_TOOL_IP_9
	AllowedToolIP				$ALLOWED_TOOL_IP_10

################################################################################
# 2006-10-11 by cmkwon
# Server Group Limite User Count
################################################################################
	ServerGroupLimiteUserCount	$SERVER_GROUP_LIMITE_USER_COUNT

################################################################################
# 2007-05-02 by cmkwon
# Pre Server List
################################################################################
	GameServerGroup				$$GAME_SERVER_GROUP_NAME1
	GameServerGroup				$$GAME_SERVER_GROUP_NAME2
	GameServerGroup				$$GAME_SERVER_GROUP_NAME3
	GameServerGroup				$$GAME_SERVER_GROUP_NAME4
	GameServerGroup				$$GAME_SERVER_GROUP_NAME5

################################################################################
# Pre Server List of Server Groups
################################################################################						
	ServerGroupInfo				$$SERVER_GROUP_INFO1
	ServerGroupInfo				$$SERVER_GROUP_INFO2
	ServerGroupInfo				$$SERVER_GROUP_INFO3
	ServerGroupInfo				$$SERVER_GROUP_INFO4
	ServerGroupInfo				$$SERVER_GROUP_INFO5

################################################################################
# Pre Server FTP
################################################################################
#	$AUTO_UPDATE_SERVER_TYPE = {FTP|HTTP}, default FTP
################################################################################
	AutoUpdateServerType		$AUTO_UPDATE_SERVER_TYPE

################################################################################
# FTP Setting
################################################################################
	UploadFtpServerIP			$UPLOAD_FTP_SERVER_IP
	UploadFtpServerPort			$UPLOAD_FTP_SERVER_PORT
	UploadFTPServerAccount		$UPLOAD_FTP_SERVER_ACCOUNT
	UploadFTPServerPassword		$UPLOAD_FTP_SERVER_PASSWORD
	
	DownloadFTPServerIP			$DOWNLOAD_FTP_SERVER_IP1
	DownloadFTPServerIP			$DOWNLOAD_FTP_SERVER_IP2
	DownloadFTPServerPort		$DOWNLOAD_FTP_SERVER_PORT
	DownloadFTPServerAccount	$DOWNLOAD_FTP_SERVER_ACCOUNT
	DownloadFTPServerPassword	$DOWNLOAD_FTP_SERVER_PASSWORD
	
	ClientFTPUpdateUploadDir	$CLIENT_FTP_UPDATE_UPLOAD_DIR
	LauncherFileUploadPath		$LAUNCHER_FILE_UPLOAD_PATH
	DeleteFileListUploadPath	$DELETE_FILE_LIST_UPLOAD_PATH
	NoticeFileUploadPath		$NOTICE_FILE_UPLOAD_PATH
	VersionListFileUploadPath	$VERSION_LIST_FILE_UPLOAD_PATH

	
	ClientFTPUpdateDownloadDir	$CLIENT_FTP_UPDATE_DOWNLOAD_DIR
	LauncherFileDownloadPath	$LAUNCHER_FILE_DOWNLOAD_PATH
	DeleteFileListDownloadPath	$DELETE_FILE_LIST_DOWNLOAD_PATH
	NoticeFileDownloadPath		$NOTICE_FILE_DOWNLOAD_PATH

################################################################################
# HTTP setting
################################################################################
	DownloadHttpServerIP			$DOWNLOAD_HTTP_SERVER_IP1		
	DownloadHttpServerIP			$DOWNLOAD_HTTP_SERVER_IP2		
	DownloadHttpServerPort			$DOWNLOAD_HTTP_SERVER_PORT		
	DownloadHttpServerAccount		$DOWNLOAD_HTTP_SERVER_ACCOUNT	
	DownloadHttpServerPassword		$DOWNLOAD_HTTP_SERVER_PASSWORD
	
	ClientUpdateDownloadHttpDir		$CLIENT_UPDATE_DOWNLOAD_HTTP_DIR	
	LauncherFileDownloadHttpPath	$LAUNCHER_FILE_DOWNLOAD_HTTP_PATH	
	DeleteFileListDownloadHttpPath	$DELETE_FILE_LIST_DOWNLOAD_HTTP_PATH
	NoticeFileDownloadHttpPath		$NOTICE_FILE_DOWNLOAD_HTTP_PATH
	VersionListFileDownloadHttpPath	$VERSION_LIST_FILE_DOWNLOAD_HTTP_PATH
		
################################################################################		
# ReInstall Version:
# Put version just before version to receive down newly
################################################################################
	ClientReInstallVersion			$CLIENT_REINSTALL_VERSION


	#List of version that must update certainly
	#CriticalUpdateVersion			$CRITICAL_UPDATE_VERSION_1	
	#CriticalUpdateVersion			$CRITICAL_UPDATE_VERSION_2
	#CriticalUpdateVersion			$CRITICAL_UPDATE_VERSION_3
	

################################################################################
# Test Server Flag
# 테스트 서퉩E여부
################################################################################
	IsTestServer				$IS_TEST_SERVER


################################################################################
# Only Choice Server Flag, 2007-07-06 by cmkwon
################################################################################
	IsOnlyChoiceServer			$IS_ONLY_CHOICE_SERVER


################################################################################
# Pre Server
# When receive Field Server's IP that must connect by first in Pre Server, availability about that receive by Random
################################################################################
	RandomFieldSelect			FALSE


################################################################################
# Whether or not client version update disregard
################################################################################
	IgnoreClientVersionUpdate	$INGNORE_CLIENT_VERSION_UPDATE

################################################################################
# External Athenticaion Flag
################################################################################
	IsExternalAuthentication	$IS_EXTERNAL_AUTHENTICATION


################################################################################
# AllowedIP
# Possibility that if one is, it is log that AllowedIP agrees
#################################################################################
#	AllowedIP				127.0.0.1


################################################################################
# AllowedAccount
# When IP was impermissible, it is possibility that is log that agree if it is one AllowedAccount 
################################################################################
#	AllowedAccount				z
#	AllowedAccount				
	