### CAUTION: Refer to "authentication.cfg"! ###
	LocalIPAddress				$AUTHENTICATION_IP_ADDR
	LocalPublicIPAddress			$AUTHENTICATION_PUBLIC_IP_ADDR
	LocalListenPort				$AUTHENTICATION_SERVER_PORT

################################################################################
# Pre Server Database Settings
################################################################################
	ODBCUID					$AUTH_ODBC_UID
	ODBCPASSWD				$AUTH_ODBC_PASSWD
	DBServerIP					$AUTH_DB_SERVER_IP			
	DBServerPort				$AUTH_DB_SERVER_PORT         
	DBServerDatabaseName		$AUTH_DB_DATABASE_NAME